############################
# Dépendances PHP / Composer
############################
/vendor/
composer.phar

############################
# Dépendances JS / Node
############################
node_modules/
dist/

############################
# Fichiers d'environnement
############################
.env
.env.*
!.env.example

############################
# Logs & fichiers temporaires
############################
/logs/
*.log
*.tmp
*.cache
*.swp
*.swo

############################
# Cache / fichiers générés
############################
/cache/
/tmp/
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/

############################
# Fichiers générés / build
############################
/build/
/dist/

############################
# VS Code
############################
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
.history
.ionide
/ide-stubs/

############################
# Tests / couverture
############################
/coverage/
.phpunit.result.cache

############################
# Autre
############################
*.odt
*.odt.bak
*.ods
*.ods.bak
*.xml.bak
diagram_activites_quai-antique.pdf
mockup-desktop-1.png
mockup-mobile-1.png
mockup-tablet-1.png
wireframe-desktop-1.png
info.php